@page
@model Bookworms_Online.Pages.Errors._500Model
@{
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="error-container">
        <h1>Oops! Something went wrong.</h1>
        <p>We're sorry, but something went wrong on our end. Please try again later.</p>
        <p>If the problem persists, please contact our support team.</p>
        <a href="/">Return to Homepage</a>
        <!-- You can add a contact link or more information here if you want -->
    </div>
</body>
</html>